## Sales Analysis

In [1]:
import pandas as pd
import glob

##### Merge 12 months sales data into a single CSV file

In [23]:
# all_months_data = pd.DataFrame()
# 
# monthly_data_files_as_paths = glob.glob('C:/Users/MSI/Desktop/data-science-projects/project-1/monthly-sales-data/*.csv')
# 
# for file_path in monthly_data_files_as_paths:
#     monthly_data = pd.read_csv(file_path)
#     all_months_data = pd.concat([all_months_data, monthly_data], axis=0)
# 
# all_months_data.to_csv("all_months_data", index=False)

In [46]:
data = pd.read_csv('all_months_data')
data = data.dropna()
data["Month"] = data["Order Date"].str[0:2]
data = data[data["Month"].str[0:2] != "Or"]
data["Month"] = pd.to_numeric(data["Month"])
data["Quantity Ordered"] = pd.to_numeric(data["Quantity Ordered"])
data["Price Each"] = pd.to_numeric(data["Price Each"])
data["Revenue"] = data["Quantity Ordered"] * data["Price Each"]

data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Revenue
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",4,23.90
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",4,99.99
3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,600.00
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,11.99
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",4,11.99

In [50]:
data.groupby("Month").sum()

       Quantity Ordered  Price Each     Revenue
Month
1                 10903  1811768.38  1822256.73
2                 13449  2188884.72  2202022.42
3                 17005  2791207.83  2807100.38
4                 20558  3367671.02  3390670.24
5                 18667  3135125.13  3152606.75
6                 15253  2562025.61  2577802.26
7                 16072  2632539.56  2647775.76
8                 13448  2230345.42  2244467.88
9                 13109  2084992.09  2097560.13
10                22703  3715554.83  3736726.88
11                19798  3180600.68  3199603.20
12                28114  4588415.41  4613443.34