## Sales Analysis

In [1]:
import pandas as pd
import glob

##### Merge 12 months sales data into a single CSV file

In [23]:
# all_months_data = pd.DataFrame()
# 
# monthly_data_files_as_paths = glob.glob('C:/Users/MSI/Desktop/data-science-projects/project-1/monthly-sales-data/*.csv')
# 
# for file_path in monthly_data_files_as_paths:
#     monthly_data = pd.read_csv(file_path)
#     all_months_data = pd.concat([all_months_data, monthly_data], axis=0)
# 
# all_months_data.to_csv("all_months_data", index=False)

In [29]:
data = pd.read_csv('all_months_data')
data = data.dropna()
data["Month"] = data["Order Date"].str[0:2]
data = data[data["Month"].str[0:2] != "Or"]
data["Month"] = data["Month"].astype("int16")
data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",4
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",4
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",4