# Average Salaries of Respondents by Language

In [51]:
import pandas as pd
from matplotlib import pyplot as plt

In [52]:
data = pd.read_csv("C:/Users/MSI/Desktop/data-science-projects/project-2/survey_results_public.csv")

In [53]:
data = data[["Age", "ConvertedComp", "LanguageWorkedWith"]]
data.head(3)

    Age  ConvertedComp               LanguageWorkedWith
0  14.0            NaN  HTML/CSS;Java;JavaScript;Python
1  19.0            NaN              C++;HTML/CSS;Python
2  28.0         8820.0                         HTML/CSS

In [62]:
data = data[(data["Age"] >= 18) & (data["Age"] <= 40)]
data["Age"] = data["Age"].round()
data.head()

    Age  ConvertedComp                           LanguageWorkedWith
1  19.0            NaN                          C++;HTML/CSS;Python
2  28.0         8820.0                                     HTML/CSS
3  22.0        61000.0                          C;C++;C#;Python;SQL
4  30.0            NaN  C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
5  28.0       366420.0                                   Java;R;SQL

In [79]:
all_dev_sal = data.groupby("Age")["ConvertedComp"].median().dropna()
all_dev_sal_list = all_dev_sal.tolist()

ages_list = data["Age"].sort_values().unique().tolist()

[13750.0,
 14506.0,
 16032.0,
 19218.0,
 23751.0,
 29392.5,
 33367.0,
 37810.0,
 41688.0,
 46016.0,
 49092.0,
 52932.0,
 55832.0,
 62930.0,
 64984.0,
 68000.0,
 69891.0,
 74232.0,
 77022.0,
 78057.5,
 79396.0,
 80178.5,
 83640.0]

In [ ]:
plt.bar(all_dev_sal[])